.markdown_text {
    padding: 6px;
    margin: 0px;
    background-color: rgba(19, 3, 43, 0.4);
    color: #FFF;
    text-shadow: 0 0 1px #fff;
    border: 3px double rgb(170, 133, 133);
    border-radius: 3pt;
    box-shadow: 0 0 4px black;
}

.markdown_text>p:first-child {
    margin-top: 0px;
}

.markdown_text>p:last-child {
    margin-bottom: 0px;
}

.nota_button {
    color: black;
    text-shadow: 0 0 1px white;
    background-color: rgba(200, 200, 200, 0.5);
}

.nota_title_text {
    font-weight: bold;
    text-decoration: underline;
}