<div class="lsw_sqlite_console">
    <div class="typical_title_1">
        <div class="flex_row centered">
            <div class="flex_100">💻 Consola de SQLite:</div>
            <div class="flex_1">
                <button class="supermini"
                    v-on:click="executeCode">⚡️</button>
            </div>
        </div>
    </div>
    <div class="">
        <textarea class="width_100 sqlite_console input_console"
            v-model="code"
            v-on:keypress.ctrl.enter="executeCode"
            spellcheck="false"></textarea>
        <hr/>
        <div v-if="executionError">
            <lsw-error-box
                :error="executionError"
                context="Error ejecutando SQL"
                :on-clear-error="() => {executionError = false;}"
            />
        </div>
        <div class="sqlite_console output_console">{{ output }}</div>
    </div>


</div>