.lsw_filesystem_buttons_panel {
    width: 100%;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
}
.lsw_filesystem_buttons_panel > .buttons_panel {
    width: 100%;
    height: 100%;
}
.lsw_filesystem_editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    right: 0;
}

.lsw_filesystem_editor .editor {
    width: calc(100% - 1px);
    height: calc(100% - 2px);
    resize: none;
    border: 1px solid black;
    border-radius: 0pt;
    outline: none;
}
.lsw_filesystem_editor .editor:focus {
    background-color: #E0E0E0;
}
.lsw_filesystem_explorer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.lsw_filesystem_explorer > .current_node_box {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    font-size: 12px;
    font-family: Arial;
    white-space: nowrap;
    justify-content: stretch;
    align-items: center;
}
.current_node_box > .current_node_filename,
.current_node_box > .current_node_path {
    display: inline-block;
    padding: 4px;
}
.current_node_box > .current_node_filename {
    flex: 1;
    border-left: 1px solid black;
}
.current_node_box > .current_node_path {
    flex: 100;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.current_node_box > .previous_node_path {
    align-self: center;
}
.current_node_box > .previous_node_path > .previous_node_button {
    font-size: 10px;
    padding: 3px;
    text-align: center;
    margin-left: 1px;
    padding-top: 3px;
    padding-bottom: 4px;
}
.reversed {
    transform: rotate(180deg);
}

.lsw_filesystem_explorer .filesystem_ui {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 25px);
}
.lsw_filesystem_explorer .leftside {
    flex: 1;
}
.lsw_filesystem_explorer .middleside {
    flex: 100;
    display: flex;
    flex-direction: column;
}
.lsw_filesystem_explorer .rightside {
    flex: 1;
}
.lsw_filesystem_explorer .headerside {
    flex: 1;
}
.lsw_filesystem_explorer .bodyside {
    flex: 100;
    position: relative;
}
.lsw_filesystem_explorer .footerside {
    flex: 1;
}


.lsw_filesystem_explorer .leftside,
.lsw_filesystem_explorer .rightside,
.lsw_filesystem_explorer .headerside,
.lsw_filesystem_explorer .bodyside,
.lsw_filesystem_explorer .footerside {
    border: 0px solid black;
}

/* Start: Bordes de 1 sola línea entre paneles: */
.lsw_filesystem_explorer .rightside {
    border-left: 1px solid black;
    min-width: 32px;
}
.lsw_filesystem_explorer .leftside {
    border-right: 1px solid black;
    min-width: 32px;
}
.lsw_filesystem_explorer .bodyside {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.lsw_filesystem_explorer .headerside,
.lsw_filesystem_explorer .footerside {
    min-height: 32px;
}
/* End */
.lsw_filesystem_treeviewer {}

.treeviewer_row {
    padding: 2px;
    cursor: pointer;
}
.treeviewer_row a {
    display: inline-block;
    padding: 2px;
}
.treeviewer_row {
    background-color: rgb(36, 36, 50);
    color: white;
}
.treeviewer_row:nth-last-child(odd) {
    background-color: rgb(23, 23, 30);
    color: white;
}
.treeviewer_row .filename_link {
    color: white;
}
.treeviewer_row:hover {
    
}
.treeviewer_row:hover .filename_link {
    color: #0F0;
}
table.filesystem_treeviewer_table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}
table.filesystem_treeviewer_table {
    padding: 2px;
    font-weight: normal;
    text-align: left;
}
table.filesystem_treeviewer_table > tbody > tr > td:nth-child(1) {
    width: 1%;
}
table.filesystem_treeviewer_table > tbody > tr > td:nth-child(2) {
    width: 100%;
}
.icon_cell {
    padding: 4px;
}
