.console-hooker.hide {
    display: none;
}
.console-hooker .console_viewer {
    margin: 0px;
    padding: 0px;
    z-index: 1000;
    position: absolute;
    top: auto;
    right: 30px;
    left: 30px;
    bottom: 40px;
    padding: 4px;
}
.console-hooker .console_box {
    max-height: 120px;
    font-size: 12px;
    color: black;
    background-color: rgba(255,255,255,0.6);
    border: 3px double #030;
    border-radius: 2pt;
    text-shadow: 0 0 1px black;
    display: flex;
    flex-direction: column;
}
.console_box_title {
    padding: 4px;
    background-color: rgba(0,0,0,0.6);
    color: white;
}
.console_box_output_container {
    overflow: scroll;
}
.console_box_output {
    padding: 4px;
    flex: 100;
}