<div>
    <h3>
        <span>
            <button v-on:click="goBack">⬅️</button>
        </span>
        <span> 📦 </span>
        <span>{{ args.table }} [all]</span>
        <span>[{{ args.database }}]</span>
    </h3>
    <lsw-database-breadcrumb :breadcrumb="breadcrumb" :database-explorer="databaseExplorer" />
    <lsw-table
        :initial-input="rows" v-if="rows"
        :initial-settings="{
            title: 'Registros de ' + args.table,
            columnsOrder: ['id'],
            ...(args.initialSettings || {})
        }"
        :row-buttons="[{ header: '', text: '↗️', event: (row) => openRow(row.id) }]"
        :table-buttons="databaseExplorer.showBreadcrumb ? [{ text: '➕', event() { openRow(-1) }}] : []"></lsw-table>
</div>