.lsw_automensajes_viewer {
    
}


.automensaje_block {
    border: 0px solid #00000075;
    border-radius: 20pt;
    padding: 0px;
    font-weight: bold;
    font-weight: normal;
    text-shadow: 0 0 1px #000;
    text-align: center;
    cursor: pointer;
    min-height: var(--button_height);
    min-height: 28px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.37);
    transition: background-color 0.2s linear;
}

.automensaje_block:hover {}