<div class="lsw_automensajes_viewer">
    <div class="pad_1 pad_top_2 pad_left_2">
        <div class="automensaje_block" v-on:click="refreshAutomessaging">
            <template v-if="selectedAutomensaje">
                <span style="text-decoration: underline;">{{ selectedAutomensaje.tiene_contenido }}</span> * {{ automessagingSeconds }}s
            </template>
            <template v-else>
                <span>Establece tus propios eslóganos de apoyo.</span>
            </template>
        </div>
    </div>
</div>