<div class="lsw_automensajes_viewer">
    <div class="pad_0 pad_top_1 pad_right_1">
        <div class="flex_row">
            <div class="flex_1 pad_right_1 pad_left_1" v-if="isMounted">
                <lsw-apps-viewer-button :viewer="$refs.appPanel" />
            </div>
            <div class="flex_100">
                <div class="automensaje_block" v-on:click="refreshAutomessaging">
                    <template v-if="selectedAutomensaje">
                        <span>{{ selectedAutomensaje.tiene_contenido }}</span>
                    </template>
                    <template v-else>
                        <span>Eslóganes para ti aquí.</span>
                    </template>
                </div>
            </div>
            <div class="flex_1 pad_left_1">
                <button v-on:click="goToDesktop">{{ simboloActual }}</button>
            </div>
        </div>
    </div>
    <div class="pad_1">
        <lsw-apps-viewer-panel ref="appPanel" />
    </div>
</div>