<div class="lsw_goals_viewer">
    <template v-if="isGoalsLoaded && goalsData && goalsData.length">
        <div class="lsw_goals_panel margin_bottom_1">
            <h4 class="">
                <div class="flex_row centered">
                    <div class="flex_100">🧭 - 🏁</div>
                    <div class="flex_1 pad_right_1">
                        <button class="supermini"
                            v-on:click="emitClose">
                            ❌
                        </button>
                    </div>
                    <div class="flex_1">
                        <button class="supermini"
                            v-on:click="openGoalsDirectory">
                            📂 ↗️
                        </button>
                    </div>
                </div>
            </h4>
            <div v-if="isGoalsLoaded">
                <lsw-bars-graph
                    :sample='goalsData.map(it => expandGoal(it)).sort((...args) => sortGoals(...args))'
                    :keys="[
                        'tiene el',
                        // 'falta el'
                    ]"
                    :negative-keys="['falta el']"
                    prop-id="id"
                />
            </div>
        </div>
    </template>
</div>