<div class="lsw_goals_viewer">
    <div class="flex_row centered pad_bottom_1">
        <div class="flex_100">
            <div class="flex_row centered">
                <div class="flex_1"></div>
                <template v-if="isLoaded">
                    <div class="nowrap flex_1 pad_left_1">
                        <button class="supermini"
                            disabled="disabled"> 🟢{{ summary.resolved }} </button>
                    </div>
                    <div class="nowrap flex_1 pad_left_1">
                        <button class="supermini"
                            disabled="disabled"> 🔴{{ summary.failed }} </button>
                    </div>
                    <div class="nowrap flex_1 pad_left_1">
                        <button class="supermini"
                            disabled="disabled"> 🏁{{ summary.total }} </button>
                    </div>
                    <div class="nowrap flex_100"></div>
                </template>
            </div>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                v-on:click="saveMoment">📸</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                v-on:click="loadGoals">🛜</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                v-on:click="openGoalsFile">📃↗️</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                v-on:click="onClose">❌</button>
        </div>
    </div>
    <div class="goals_list"
        v-if="isLoaded">
        <template v-for="goal, goalIndex in report.goals">
            <div v-bind:key="'goal-' + goalIndex"
                v-if="goal.filledAsint < 100"
                class="goal_item">
                <div class="bar_holder">
                    <div class="bar_text">
                        <template v-if="goal.type === 'by duration'">
                            <b>{{ goal.concept }}:</b> +{{ goal.filled }}
                            <span v-if="goal.missingAsint > 0"> / -{{ goal.missing }}</span>
                            <b>| {{ goal.expectedAsAbbr }}:</b>{{ goal.expectedDuration }}
                            <b>| curr:</b>{{ goal.currentDuration }}
                        </template>
                        <template v-else-if="goal.type === 'by times'">
                            <b>{{ goal.concept }}:</b> +{{ goal.filled }} / -{{ goal.missing }}
                            <b>| {{ goal.expectedAsAbbr }}:</b>{{ goal.expectedTimes }}
                            <b>| curr:</b>{{ goal.currentDuration }}
                        </template>
                    </div>
                    <div class="bar_filler"
                        :style="{ width: goal.filledAsint < 100 ? goal.filled : (100 + '%'), backgroundColor: goal.color }">

                    </div>
                </div>
                <div class="bar_separation"></div>
            </div>
        </template>
    </div>
</div>