:root {
  --goals_bar_height: 30px;
}

.lsw_goals_viewer {
    
}

.goals_list {
  overflow: scroll;
}

.goal_item {
  
}

.bar_separation {
  min-height: 1px;
}
.bar_holder {
  position: relative;
  border: 1px solid transparent;
  border-radius: 2pt;
  padding: 1px;
  min-height: 24px;
}
.bar_text {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 4px;
  padding-top: 9px;
  font-size: 10px;
  color: black;
  white-space: nowrap;
}
.bar_filler {
  height: var(--goals_bar_height);
  border-radius: 2pt;
  box-shadow: 0 0 4px black;
}