<div class="lsw_current_accion_viewer">
    <div class="flex_row pad_1 pad_right_2 centered width_100">
        <div class="flex_1 pad_left_1">
            <button class="mini section_button"
                :class="{activated: selectedSection === 'despues'}"
                v-on:click="() => selectSection('despues')">🕐 ⏩</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="mini section_button"
                :class="{activated: selectedSection === 'antes'}"
                v-on:click="() => selectSection('antes')">🕐 ⏪</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="mini section_button"
                :class="{activated: selectedSection === 'calendario'}"
                v-on:click="() => selectSection('calendario')">📆</button>
        </div>
        <div class="flex_100">

        </div>
        <div class="flex_1 pad_left_1">
            <div class="flex_row">
                <div class="flex_1 pad_right_1">
                    <button class="mini danger_button"
                        v-on:click="openNotaUploader">+ 💬</button>
                </div>
                <div class="flex_1 pad_right_1">
                    <button class="mini danger_button"
                        v-on:click="openArticuloUploader">+ 🔬</button>
                </div>
                <div class="flex_1 pad_right_1">
                    <button class="mini danger_button"
                        v-on:click="openArticuloUploader">+ 💡</button>
                </div>
                <div class="flex_1">
                    <button class="mini danger_button"
                        v-on:click="openArticuloUploader">+ 💡</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex_row pad_left_1 pad_right_2 centered width_100">
        <div class="flex_1 pad_left_1">
            <button class="mini application_button"
                :class="{activated: selectedSection === 'notas'}"
                v-on:click="() => selectSection('notas')">💬</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="mini application_button"
                :class="{activated: selectedSection === 'articulos'}"
                v-on:click="() => selectSection('articulos')">🔬</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="mini application_button"
                :class="{activated: selectedSection === 'listas'}"
                v-on:click="() => selectSection('listas')">📝</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="mini application_button"
                :class="{activated: selectedSection === 'recordatorios'}"
                v-on:click="() => selectSection('recordatorios')">💡</button>
        </div>
        <div class="flex_100"></div>
    </div>
    <div class="pad_top_1"
        v-if="selectedSection !== 'none'">
        <div class="pad_1 pad_top_0"
            v-if="selectedSection === 'antes'">
            <template v-if="accionesAntes && accionesAntes.length">
                <div>Acciones anteriores:</div>
                <div class="tarjetas_de_accion">
                    <div class="tarjeta_de_accion nowrap"
                        v-for="accion, accionIndex in accionesAntes"
                        v-bind:key="'accion_antes_' + accionIndex">
                        <div>{{ accion.tiene_inicio }}</div>
                        <div class="cell_en_concepto flex_100">{{ accion.en_concepto }}</div>
                        <div>{{ accion.tiene_duracion }}</div>
                        <div class="cell_en_estado"
                            :class="'estado_' + accion.tiene_estado"
                            v-on:click="() => alternarEstado(accion)">{{ accion.tiene_estado }}</div>
                        <!--div>{{ accion.tiene_parametros }}</div>
                <div>{{ accion.tiene_resultados }}</div>
                <div>{{ accion.tiene_comentarios }}</div-->
                    </div>
                </div>
            </template>
            <div v-else
                class="pad_1 pad_top_0 pad_bottom_0">No hay acciones anteriores.</div>
        </div>
        <div class="pad_1 pad_top_0"
            v-if="selectedSection === 'despues'">
            <template v-if="accionesDespues && accionesDespues.length">
                <div>Acciones posteriores:</div>
                <div class="tarjetas_de_accion">
                    <div class="tarjeta_de_accion nowrap"
                        v-for="accion, accionIndex in accionesDespues"
                        v-bind:key="'accion_despues_' + accionIndex">
                        <div>{{ accion.tiene_inicio }}</div>
                        <div class="cell_en_concepto flex_100">{{ accion.en_concepto }}</div>
                        <div>{{ accion.tiene_duracion }}</div>
                        <div class="cell_en_estado cursor_pointer"
                            :class="'estado_' + accion.tiene_estado"
                            v-on:click="() => alternarEstado(accion)">{{ accion.tiene_estado }}</div>
                        <div>{{ accion.tiene_parametros }}</div>
                        <div>{{ accion.tiene_resultados }}</div>
                        <div>{{ accion.tiene_comentarios }}</div>
                    </div>
                </div>
            </template>
            <div v-else
                class="pad_1 pad_top_0 pad_bottom_0">No hay acciones posteriores.</div>
        </div>

        <div class="pad_1 pad_top_0"
            v-if="selectedSection === 'calendario'">
            <div class="">
                <div class="pad_1 pad_top_0 pad_bottom_0">
                    <lsw-agenda />
                </div>
            </div>
        </div>

        <div class="pad_1 pad_top_0"
            v-if="selectedSection === 'notas'">
            <div class="pad_1 pad_top_0 pad_bottom_0">
                <lsw-notes />
            </div>
        </div>

        <div class="pad_1 pad_top_0"
            v-if="selectedSection === 'articulos'">
            <div class="pad_1 pad_top_0 pad_bottom_0">
                <lsw-wiki />
            </div>
        </div>

    </div>
</div>