<div class="lsw_duration_control lsw_formtype lsw_form_control">
    <lsw-control-label :settings="settings"
        :parent-formtype="this" />
    <lsw-error-viewer v-if="validateError" :error="validateError" />
    <lsw-error-viewer v-if="submitError" :error="submitError" />
    <div v-show="isEditable" v-else>
        <div ref="controller"
            v-xform.control="{
            name: settings.name,
            onValidate: settings.column.hasValidator || $noop,
            onSetError: () => {
                isEditable = true;
            }
        }">
            <div class="flex_row">
                <div class="pad_right_1">
                    <button v-on:click="toggleDetails"
                        disabled>⌛️</button>
                </div>
                <input class="flex_100"
                    type="text"
                    v-model="value"
                    v-on="settings?.input?.events || {}"
                    v-bind="settings?.input?.props || {}"
                    v-xform.input="{name: '*'}"
                    ref="textInput" />
            </div>
            <lsw-control-error />
        </div>
    </div>
</div>