<div class="lsw_agenda">

    <div class="agenda_topbar flex_1 flex_row"
        style="gap: 4px;">
        <div class="flex_100"></div>
        <template v-if="typeof $window.cordova !== 'undefined'">
            <div class="flex_1">
                <button class="width_100 nowrap supermini"
                    v-on:click="synchronizeAlarms">🔔</button>
            </div>
            <div class="flex_1">
                <button class="width_100 nowrap supermini"
                    v-on:click="unsynchronizeAlarms">🔕</button>
            </div>
        </template>
    </div>

    <div v-if="selectedContext === 'conductometria'" class="pad_top_1">
        <lsw-conductometria />
    </div>
    
    <div class="calendar_viewer pad_top_1"
        v-show="(selectedContext === 'agenda') && (selectedAction === 'calendario')">
        <div class="pad_top_1">
            <lsw-agenda-acciones-viewer
                ref="calendario"
                :agenda="this"
                :initial-date="selectedDate" ref="agenda_acciones_viewer"
            />
        </div>
    </div>

</div>